button {
    margin-left: 4px;
    padding: 2px;
}

.page-image {
    width: 100%;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

body {
    background-color: blanchedalmond;
    font-family:'Times New Roman', Times, serif
}
